body {
	background-color: white;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

div.top-lv-nav{
    position: absolute;
    margin: 0px 0px 0px -250px;
}

a.active-pg{
    background-color: aqua;
    font-weight: bold;
}

/* v home specific v */

div.top-lv-nav-home{
    position: relative;
    margin: 0px 0px 0px 50px;
}