:root {
    --red: #CC0000;
    --gold: #CFB53B;
    --orange: #F8752D;
    --black: #000000;
    --silver: #a6a6a6;
    --cream: #FFFFF0;
}
/* --- --- --- --- --- --- --- --- --- */
body {
	background-color: var(--cream);

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
/* --- --- --- --- --- --- --- --- --- */
div.top-lv-nav {
    position: fixed;

    margin: -30px 0px 0px -35px;
    padding: 50px 15px 250px 0px;

    background-color: var(--red);
}
ul.nav-list {
    list-style-type: none;
}
/* --- --- --- --- --- --- --- --- --- */
li.nav-e {
    margin: 5px 5px 5px 5px;
    border: 4px solid var(--silver);
    border-radius: 7px;
    padding: 3px 63px 3px 3px;

    background-color: var(--silver);

    display: block;
    
    font-size: 175%;
}
li.nav-e a:link {
    color: var(--cream);
    font-weight: bold;
    text-decoration: none;

    display: block;
}
li.nav-e a:visited {
    color: var(--cream);
    font-weight: bold;
    text-decoration: none;

    display: block;
}
li.nav-e:hover {
    border: 4px solid var(--orange);

    background-color: var(--orange);

    display: block;
}
/* --- --- --- --- --- --- --- --- --- */
li.nav-e-active {
    margin: 5px 5px 5px 5px;
    border: 4px solid var(--gold);
    border-radius: 7px;
    padding: 3px 3px 3px 3px;

    background-color: var(--gold);

    display: block;
    
    font-size: 175%;
}
li.nav-e-active a:link {
    color: var(--cream);
    font-weight: bold;
    text-decoration: none;

    display: block;
}
li.nav-e-active a:visited {
    color: var(--cream);
    font-weight: bold;
    text-decoration: none;

    display: block;
}
li.nav-e-active:hover {
    border: 4px solid var(--orange);

    background-color: var(--orange);

    display: block;
}
/* --- --- --- --- --- --- --- --- --- */
nav#home-subnav {
    position: absolute;

    margin: 0px 0px 0px 340px;

    visibility: hidden;
}
nav#home-subnav:hover {
    visibility: visible;
}
/* --- --- --- --- --- */
nav#topic-subnav {
    position: absolute;

    margin: 60px 0px 0px 340px;

    visibility: hidden;
}
nav#topic-subnav:hover {
    visibility: visible;
}
/* --- --- --- --- --- */
nav#research-subnav {
    position: absolute;

    margin: 119px 0px 0px 340px;

    visibility: hidden;
}
nav#research-subnav:hover {
    visibility: visible;
}
/* --- --- --- --- --- */
nav#data-subnav {
    position: absolute;

    margin: 179px 0px 0px 340px;

    visibility: hidden;
}
nav#data-subnav:hover {
    visibility: visible;
}
/* --- --- --- --- --- */
nav#references-subnav {
    position: absolute;

    margin: 239px 0px 0px 340px;

    visibility: hidden;
}
nav#references-subnav:hover {
    visibility: visible;
}
/* --- --- --- --- --- */
nav#style-subnav {
    position: absolute;

    margin: 299px 0px 0px 340px;

    visibility: hidden;
}
nav#style-subnav:hover {
    visibility: visible;
}
/* --- --- --- --- --- */
nav#layout-subnav {
    position: absolute;

    margin: 358px 0px 0px 340px;

    visibility: hidden;
}
nav#layout-subnav:hover {
    visibility: visible;
}
/* --- --- --- --- --- */
nav#modality-subnav {
    position: absolute;

    margin: 418px 0px 0px 340px;

    visibility: hidden;
}
nav#modality-subnav:hover {
    visibility: visible;
}
/* --- --- --- --- --- */
nav#professionalization-subnav {
    position: absolute;

    margin: 478px 0px 0px 340px;

    visibility: hidden;
}
nav#professionalization-subnav:hover {
    visibility: visible;
}
/* --- --- --- --- --- --- --- --- --- */
li.sub-nav-e a:link {
    color: var(--red);
    text-decoration: none;
    display: block;
}
li.sub-nav-e a:visited {
    color: var(--red);
    text-decoration: none;
    display: block;
}
li.sub-nav-e a:hover {
    color: var(--cream);
    font-weight: bolder;
    text-decoration: none;
    display: block;
}

ul.sub-nav-list{
    position: absolute;

    margin: -15px 0px 0px -204px;
    border: 4px solid var(--gold);
    border-radius: 7px;
    padding: 3px 3px 3px 3px;

    width: 250px;

    background-color: var(--gold);

    list-style-type: none;
}
img.da {
    visibility: visible;

    width: 55px;
}
/* --- --- --- --- --- --- --- --- --- */
div.title {
    margin: -10px -8px 0px 0px;
    padding: 1px 50px 1px 50px;
    
    background-color: var(--red);
    
    text-align: center;
    text-indent: 390px;
    color: var(--cream);
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
}

h2 {
    margin: 25px 0px 10px 0px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

h3 {
    margin: 20px 0px 10px 0px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;

    text-decoration: underline 3px var(--red);
}

h4 {
    margin: 15px 0px 10px 0px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
}

p {
    margin: 10px 0px 10px 0px;
}

div.section {
    margin-left: 430px;
    border-bottom: 3px solid var(--red);

    width: 1200px;
}

div.sub-section {
    margin-left: 30px;

    width: 1150px;
}

aside {
    position: relative;

    margin: 2px 0px 2px 16px;
    border-left: 4px solid var(--red);
    border-radius: 25px;
    padding: 0px 0px 4px 8px;

    background-color: var(--cream);

    width: 30%;
    
    float: right;
    font-style: italic;
}
/* --- --- --- --- --- --- --- --- --- */
em.blue {
    color: var(--red);
    font-weight: bolder;
}
span.italics {
    font-style: italic;
}
span.bolds {
    font-weight: bold;
}
/* --- --- --- --- --- --- --- --- --- */
a:link {
    color: var(--gold);
}
a:visited {
    color: var(--gold);
}
a:link:hover {
    color: var(--orange);
}